{% extends "contentbase.html" %}
{% block title %}{% if object %}Edit{% else %}Create{% endif %} Event{% endblock %}
{% block extra-head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
<script type="text/javascript">
<!--
 	$(document).ready( function() {
			if($( "#id_limit_duration").is(':checked')) {
				$( "#id_duration_group").show()
			} else {
				$( "#id_duration_group").hide()
			}

			$("#id_limit_duration").click( function(event) {
				if($(this).is(':checked')) {
					$( "#id_duration_group").show()
				} else {
					$( "#id_duration_group").hide()
				}
			});

			$(function () {	
				$('#id_time').timepickr({rangeMin:['00','05','10','15','20','25','30','35','40','45','50','55']});
 			});
			$(function() {
				$("#id_door_open_slider").slider({
					value:60,
					min: 0,
					max: 180,
					step: 15,
					slide: function(event, ui) {
						$("#id_door_open").val(ui.value);
					}
				});
				$("#id_door_open").val($("#id_door_open_slider").slider("value"));
			});
			$(function() {
				$("#id_duration_slider").slider({
					value:$('#id_duration').val(),
					min: 0,
					max: 300,
					step: 15,
					slide: function(event, ui) {
						$("#id_duration").val(ui.value);
					}
				});
				$("#id_duration").val($("#id_duration_slider").slider("value"));
			});	

			$(function() {
				var maxdate = new Date();				
				var now = new Date();
				maxdate.setTime(Date.parse('{{form.max_date|date:"r"}}'))
				$('#id_date').datepicker({ showButtonPanel: true, showAnim:'fadeIn', minDate:now,maxDate:maxdate});
			});

					
	});
			
//-->
 </script>
{% endblock %}

{% block content-leftpane %}
<fieldset><legend>Event Wizard</legend>
<div id="tabs"><ul>{% for item in step_info %}
<li {%ifequal forloop.counter0 step %}class="current"{%else%}{%if item.url%}class="completed"{%endif%}{%endifequal%}><a href="{%if item.url%}{{item.url}}{%else%}#{%endif%}"><span>{{item.name}}</span></a></li>{%endfor%}
</ul></div>
<p class="prepend-1"><strong>Step {{step|add:"1"}} of {{total_step}}</strong></p>
<form action="" method="post" enctype="multipart/form-data">
{% if form.errors %}<div class="error">{{ form.errors }}</div>{% endif %}
<fieldset><legend>When the event will take place?</legend>
<table>
         <tr><td><label for="id_timezone">Timezone:</label></td><td>{{ form.timezone }}</td><td ></td></tr>         
         <tr><td><label for="id_date">{{form.date.label}}:</label></td><td>{{form.date}}</td><td></td></tr>
         <tr><td><label for="id_time">{{form.time.label}}:</label><br><br><br></td><td>{{form.time}}<br><br><br></td></tr>
         <tr><td><label for="id_duration">{{form.duration.label}}:</label></td><td></td></tr>
         <tr><td></td><td>{{form.limit_duration}} <label>{{form.limit_duration.label}}</label></td></tr>
		</table><table id="id_duration_group">         
         <tr><td></td><td>{{form.duration}} minutes</td></tr>
         <tr><td></td><td><div id="id_duration_slider" style="width:300px"></div ></td></tr>
         </table><table>         
         <tr><td><label for="id_door_open">{{form.door_open.label}}:</label></td><td>{{form.door_open}} minutes before the event</td></tr>
         <tr><td></td><td><div id="id_door_open_slider" style="width:300px"></div ></td></tr>
</table>
</fieldset>
<div>
<a class="sexybutton" href="{{previous_step_url}}"><span><span><span class="prev">Previous</span></span></span></a>
<button class="sexybutton" id="id_submit_type-next" type="submit" name="next" value="next"><span><span><span class="next">Next</span></span></span></button>
<button class="sexybutton" id="id_submit_type-save" type="submit" name="save" value="save"><span><span><span class="save">Save</span></span></span></button>
<a class="sexybutton" href="{%url banian.views.show_event key=form.instance.key%}"><span><span><span class="redo">Back</span></span></span></a>
</div>
</form>
</fieldset>
{% endblock %}