{% extends 'contentbase.html' %}
{% block title %}Password change{% endblock %}
{% block content-leftpane %}
{%if form.errors %}<div class= "error">{{ form.errors }}</div>{% endif %}
    <form action="" method="post">
<fieldset><legend>Change Password</legend>
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            <table>
                
                <tr><td><label for="id_old_password">Old password:</label></td><td>{{ form.old_password }}</td><td ></td></tr>
                <tr><td><label for="id_new_password1">New password:</label></td><td>{{ form.new_password1 }}</td></tr>
                <tr><td><label for="id_new_password2">Confirm password:</label></td><td>{{ form.new_password2 }}</td></tr>
            </table>
</fieldset>
            <p><a class="sexybutton" href="{% url banian.views.settings %}"><span><span><span class="save">Change</span></span></span></a>
    </form>

{% endblock %}
