{% extends "contentbase.html" %}
{% block title %}Representation Detail{% endblock %}
{% block extra-head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
<script type="text/javascript">
<!--
{%if object.job_id%}
	var count = {{progress}};
	var message = '{{message}}, {{progress|floatformat:0}} % completed';
	var available = 0;
	var value = 0.0;
	function updateProgress() {
 		if (count < 100 ) {
	 		$.getJSON("{% url banian.views.show_representation_job_progess key=object.job_id %}?ajax=true&representation={{object.key}}",
		        function(data){
		        	count = data.progress.toFixed(0)
		        	message = data.message + ', ' + count + ' % completed'
		        	available = data.available
		        	value = data.value.toFixed(2)
	        });
	        $("#progressbar").progressbar('option','value',count);
			$("#progressbar-message").text(message);
			setTimeout("updateProgress();",1500);
		}
		else {
			$("#progressbar").progressbar('option','value',count);
			$("#progressbar-message").text(message);
			{% ifequal object.status "Canceling" %}
				$("#status").text('Draft');
				$("#publish-button").attr("style","display:inline");
				$("#unpublish-button").attr("style","display:none");
				$("#del-unpublish-button").attr("style","display:none");
				$("#seats-button").attr("style","display:none");
				$("#id_value").html("0.0");
				$("#id_available").html("0/0");
						
			{%else%}
				$("#status").text('Published');
				$("#unpublish-button").attr("style","display:inline");
				$("#publish-button").attr("style","display:none");
				$("#gen-cancel-button").attr("style","display:none");
				$("#id_value").html(available + "/" + available);
				$("#id_available").html(value);
				
			{%endifequal%}
		}
	}
 	$(document).ready( function() {
 		$("#progressbar").progressbar({ value: count })
		updateProgress();
 	});
 {%endif%}
 //-->
  </script>
{% endblock %}
{% block content-leftpane %}
{%if object.job_id%}
<div id="jobstatus" class="info">
<strong>{% ifequal object.status "Canceling" %}Deletion{%else%}Generation{%endifequal%} Progress: </strong><div id="progressbar-message"></div><div id="progressbar"></div>
</div>
{%endif%}
   <fieldset><legend class="title">{{ object.event.name }}</legend>
<div width="100%" style="text-align:right">
<a {%ifequal object.status "Draft" %}style="display:none"{%endifequal%} id="seats-button" href="{% url banian.views.seats %}?representation={{ object.key }}&event={{event.key}}"><img src="{{ MEDIA_URL }}global/button_seats.gif" alt="Seats" ></a>
<a {%ifnotequal object.status "Draft" %}style="display:none"{%endifnotequal%} id="publish-button" href="{% url banian.views.publish_representation key=object.key %}" ><img src="{{ MEDIA_URL }}global/button_publish.gif" alt="Publish" ></a>
<a {%ifnotequal object.status "Generating" %}style="display:none"{%endifnotequal%} id="gen-cancel-button" href="{% url banian.views.unpublish_representation key=object.key %}" ><img src="{{ MEDIA_URL }}global/button_cancel.gif" alt="Cancel" ></a>
<a {%ifnotequal object.status "Canceling" %}style="display:none"{%endifnotequal%} id="del-unpublish-button" href="{% url banian.views.unpublish_representation key=object.key %}" ><img src="{{ MEDIA_URL }}global/button_unpublish.gif" alt="Unpublish" ></a>
<a {%ifnotequal object.status "Published" %}style="display:none"{%endifnotequal%} id="unpublish-button" href="{% url banian.views.unpublish_representation key=object.key %}"><img src="{{ MEDIA_URL }}global/button_unpublish.gif" alt="Unpublish" ></a>
<a {%ifnotequal object.status "On Sale" %}style="display:none"{%endifnotequal%} id="cancel-button" href="{% url banian.views.cancel_representation key=object.key %}"><img src="{{ MEDIA_URL }}global/button_cancel.gif" alt="Cancel" ></a>
<a {%ifnotequal object.status "Sold Out" %}style="display:none"{%endifnotequal%} id="cancel-button" href="{% url banian.views.cancel_representation key=object.key %}"><img src="{{ MEDIA_URL }}global/button_cancel.gif" alt="Cancel" ></a>
<a {%ifnotequal object.status "Processing Payment" %}style="display:none"{%endifnotequal%} id="cancel-button" href="{% url banian.views.publish_representation key=object.key %}"><img src="{{ MEDIA_URL }}global/button_approve.gif" alt="Approve" ></a>
<a {%ifnotequal object.status "Processing Payment" %}style="display:none"{%endifnotequal%} id="cancel-button" href="{% url banian.views.cancel_representation key=object.key %}"><img src="{{ MEDIA_URL }}global/button_cancel.gif" alt="Cancel" ></a>


</div>

   <fieldset><legend>Representation Details</legend>
      <table>
          <tr><td><strong>Date:</strong></td><td>{{ object.date|date:"l, F jS Y" }}<br>({{object.timezone_name}})</td></tr>
          <tr><td><strong>Time:</strong></td><td>{{ object.date|date:"P" }}</td></tr>
          <tr><td><strong>Status:</strong></td><td id="status">{{ object.status }}</td></tr>
          <tr><td><strong>Tickets Available:</strong></td><td id="id_available">{{ object.available_tickets }} / {{object.nbr_tickets}}</td></tr>
          <tr><td><strong>Value:</strong></td><td id="id_value">{{ object.value|floatformat:2 }} $</td></tr>
          <tr><td><strong>Revenues:</strong></td><td>{{ object.revenues|floatformat:2 }} $</td></tr>
      </table>      
  </fieldset>
 {%if object.mutable%}
  <a href="{% url banian.views.edit_representation key=object.key %}"><img src="{{ MEDIA_URL }}global/button_edit.gif" alt="Edit" ></a>
  <a href="{% url banian.views.delete_representation key=object.key %}"><img src="{{ MEDIA_URL }}global/button_delete.gif" alt="Delete" ></a>
 {%endif%}  
  <a href="{% url banian.views.show_event key=object.event.key %}"><img src="{{ MEDIA_URL }}global/button_back.gif" alt="Back" ></a>
</fieldset> 
{% endblock %}

