{% extends "contentbase.html" %}
{% load istatus %}
{% block title %}Seat Details{% endblock %}
{% block extra-head %}
<script type="text/javascript">
<!--
 //-->
  </script>
{% endblock %}
{% block content-leftpane %}
<fieldset><legend class="title">{{ object.name }}</legend>  
   <fieldset><legend>Ticket Details</legend>
         <table>
          <tr><td><strong>Location:</strong></td><td>{%if object.ticket_class.name%}{{object.ticket_class.name}}<br>{%endif%}{%if object.location%}}{{object.location }}<br>{%endif%}Seat Number: {{object.number}}</td></tr>          
          <tr><td><strong>Availability:</strong></td><td>{{object.availability|availabilitystatus }}</td></tr>          
          <tr><td><strong>Price:</strong></td><td>{{object.ticket_class.price }}</a></td></tr>
          <tr><td><strong>Current Owner:</strong></td><td>{{object.current_ticket.owner.name }} ({{object.current_ticket.owner.username}})</td></tr>
          <tr><td><strong>Scanned:</strong></td><td>{%if object.current_ticket.used %}Yes{%else%}No{%endif%}</td></tr>
      </table>      
  </fieldset>

   <fieldset><legend>Ownership History</legend>
  <table class="list">
    <thead>
        <tr>
            <th>Ticket Number</th><th>Date Created</th><th>Status</th><th>Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in object.ticket_set %}
            <tr class="{% cycle 'odd' 'even' %}">
            <td class="row">{%if forloop.counter0 %}{{ticket.t_id}}{%else%}<a href="{% url banian.views.download_ticket key=ticket.key%}?seat={{object.key}}">{{ticket.t_id}}</a>{%endif%}</td>                
                <td class="row">{{ticket.created|date:"M jS Y, P"}}</td>
                <td class="row">{{ticket.status}}</td>
                <td class="row">{{ticket.owner.name}}<br>({{ticket.owner.username}})</td>
            </tr>
		{% empty %}
		<tr><td colspan="4"><i>No Tickets associated yet</i></td></tr>
        {% endfor %}
    </tbody>     
  </table>
  </fieldset>
   <fieldset><legend>Scan History</legend>
  <table class="list">
    <thead>
        <tr>
            <th>Ticket Number</th><th>Date scanned</th><th>Status</th><th>validator</th>
        </tr>
    </thead>
    <tbody>
        {% for scan in object.ticketscan_set %}
            <tr class="{% cycle 'odd' 'even' %}">
            	<td class="row">{{scan.t_id}}</td>                
                <td class="row">{{scan.date|date:"l, F jS Y \a\t P"}}</td>
                <td class="row">{{scan.result}}</td>
                <td class="row">{{scan.validator}}</td>
            </tr>
		{% empty %}
		<tr><td colspan="4"><i>No scan yet</i></td></tr>
        {% endfor %}
    </tbody>     
  </table>
  </fieldset>


  <a class="sexybutton" href="{% url banian.views.seats key=object.representation.key %}{%if redirect_page%}?page={{redirect_page}}{%endif%}"><span><span><span class='redo'>Back</span></span></span></a>
</fieldset> 
{% endblock %}

