{% extends 'contentbase.html' %}
{% block title %}Unpublish {{event.name }}{% endblock %}
{% block content-leftpane %}
<fieldset><legend class="title">Clear Seats</legend>
<div class="notice"> Do you really want to unpublish <strong>{{event.name}} </strong> event?</message></div>
<p><br></p>
<form action="" method="post">
<input type="image" src="{{ MEDIA_URL }}global/button_confirm.gif" alt="Confirm" name="delete" value="Delete">
<a href="{% url banian.views.show_event key=event.key %}"><img src="{{ MEDIA_URL }}global/button_cancel.gif" alt="Cancel" ></a>
</form>
</fieldset>
{% endblock %}
