{% extends 'contentbase.html' %}
{% block title %}Confirm Delete{% endblock %}
{% block content-leftpane %}
<fieldset><legend class="title">Delete Seat Group</legend>
<div class="notice"> Do you really want to delete <strong>{{ object.name }}</strong> ?  This cannot be undone!!!!</message></div>
<p><br></p>
<form action="" method="post">
<input type="image" src="{{ MEDIA_URL }}global/button_confirm.gif" alt="Confirm" name="delete" value="Delete">
<a href="{% url banian.venue.views.show_seat_group key=object.key %}"><img src="{{ MEDIA_URL }}global/button_cancel.gif" alt="Cancel" ></a>
</form>
</fieldset>
{% endblock %}
