{% extends "contentbase.html" %}
{% block title %}Buy Tickets{% endblock %}
{% block extra-head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
<script type="text/javascript">
<!--
 		{% for slider in form.sliders %}
 			var {{slider.id}}_old = 0;
 			var price = {{slider.price}};
 			var currency = "$"
		{% endfor %}
 	$(document).ready( function() {
 	 	function twit(event, ui,slider_id,old_value) {
						new_value = ui.value;
							if (old_value != new_value) {
								console.info('Current id '+ slider_id)
								$("input[class=ui-slider]").each( function() {
									if ($(this).attr("id") != slider_id) {
										slider_idd = $(this).attr("id") + "_slider"
										var max_value = $("#"+slider_idd).slider('option','max');
										$("#"+slider_idd).slider("option","max",max_value-(new_value-old_value));
										$("#"+slider_idd).slider("value",$("#"+slider_idd).slider("value"));
									}
								});
							$("#"+slider_id).val(ui.value);
							if (price != 0) {
								$("#id_total_purchase_amount").text((price*ui.value).toFixed(2).toString() + " $");	
							} else {
								$("#id_total_purchase_amount").text("Free");
							}
							
						}
					}
		if (price == 0) {
			$("#id_total_purchase_amount").text("Free");
		}
 		{% for slider in form.sliders %}
			$(function() {
				$("#{{slider.id}}_slider").slider({
					value:$('#{{slider.id}}').val(),
					min: 0,
					max: {{slider.max}},
					step: 1,
					change: function(event,ui) {
						twit(event,ui,"{{slider.id}}",{{slider.id}}_old);
						{{slider.id}}_old = ui.value;
					},
					slide: function(event, ui) {
						$("#{{slider.id}}").val(ui.value);
						if (price != 0) {
							$("#id_total_purchase_amount").text((price*ui.value).toFixed(2).toString() + " $");	
						} else {
							$("#id_total_purchase_amount").text("Free");
						}
					}
				});
				$("#{{slider.id}}_scale_max").text({{slider.max}})
			});
		{% endfor %}
	}); 
//-->
 </script>
{% endblock %}

{% block content-leftpane %}
    <h2>Buy Tickets</h2>
 <form action="{%if not object %}?venue={{ venue_key }}{% endif %}" method="post" enctype="multipart/form-data">
{% if form.errors %}<div class="error">{{ form.errors }}</div>{% endif %}    
 <fieldset><legend class="title">{{ object.name }}</legend>
   <table><tr>{% if object.poster_image %}<td><img src="{% url banian.views.image key=object.poster_image.key %}" alt="{{objec.name}}"></td>{% endif %}<td>
   
   <fieldset><legend>Event Details</legend>
         <table>
          <tr><td><strong>Name:</strong></td><td>{{ object.name }}</td></tr>
          <tr><td><strong>Venue:</strong></td><td>{{object.venue.name }}</td></tr>
          <tr><td><strong>Date:</strong></td><td>{{ object.first_representation.date|date:"l, F jS Y \a\t P" }}</td></tr>          
          <tr><td><strong>Address:</strong></td><td>{{object.venue.address }}</td></tr>
{%if object.description%}<tr><td><strong>Description:</strong></td><td>{{ object.description }}</td></tr>{%endif%}
{%if object.web_site%}<tr><td><strong>Web Site:</strong></td><td><a href="{{ object.web_site }}">{{ object.web_site }}</a></td></tr>{%endif%}
{%if object.email%}<tr><td><strong>email:</strong></td><td><a href="mailto:{{ object.email }}">{{ object.email }}</a></td></tr>{%endif%}
{%if object.performer %}           <tr><td><strong>Performer:</strong></td><td>{{ object.performer }}</td></tr> {%endif%}
{%if object.description %}          <tr><td><strong>Description:</strong></td><td>{{ object.description }}</td></tr> {%endif%}
          <tr><td><strong>Duration:</strong></td><td>{{ object.duration  }} minutes</td></tr>
          <tr><td><strong>Door Opens/Access:</strong></td><td>{{ object.door_open|floatformat:0  }} minutes before the event</td></tr>
{%if object.restrict_sale_period %}
 <tr><td><strong>On Sale:</strong></td><td>{{ object.onsale_date|date:"l, F jS Y \a\t P" }}</td></tr>
 {%if object.endsale_date%}<tr><td><strong>End of Sale:</strong></td><td>{{ object.endsale_date|date:"l, F jS Y \a\t P" }}</td></tr>{%endif%}
{%endif%}
{%if object.note%}<tr><td><strong>Note:</strong></td><td>{{ object.note  }}</td></tr>{%endif%}
      </table>      
  </fieldset>
  </td></tr></table>
	<fieldset><legend>Tickets</legend>
<table>
    {% for field in form %}
    <tr><td><label for="{{field.auto_id}}">{{field.label}}:</label></td><td>{{field}}tickets<table style="width:217px"><tr><td colspan="2"><div id="{{field.auto_id}}_slider" style="width:200px"></div ></td></tr><tr><td id="{{field.auto_id}}_scale_min" style="text-align:left;">0</td><td id="{{field.auto_id}}_scale_max" style="text-align:right;">0</td></tr></table></td> <td>{{field.help_text}}</td></tr>
    
    
    
    
    
    
    
    <tr><td></td></tr>
    {% endfor %}
</table>
<p><label>Total Purchase Amount: </label><span id="id_total_purchase_amount">0.00 $</span></p>
{%if already_purchase_tickets %}
<p>You already purchased {{already_purchase_tickets}} tickets for this representation, {%if max_tickets%}you are limited to purchase {{max_tickets}} tickets{%else%}you are not allowed to purchase any other tickets{%endif%}</p>
{%else%}
<p>You are limited to purchase {{max_tickets}} tickets</p>
{%endif%}
	</fieldset>
<button class="sexybutton" type="submit"><span><span><span class="cart">Buy Now</span></span></span></button><a class="sexybutton" href="{% url banian.views.view_event key=representation.event.key %}"><span><span><span class="redo">Back</span></span></span></a>
 </fieldset>
 </form>
{% endblock %}