{% extends "contentbase.html" %}
{% block title %}Ticket Class Detail{% endblock %}
{% block content-leftpane %}
   <fieldset><legend class="title">{{ object.name }}</legend>
   <fieldset><legend>Ticket Class Details</legend>
      <table>
          <tr><td><strong>Name:</strong></td><td>{{ object.name }}</td></tr>
          <tr><td><strong>General Admission:</strong></td><td>{{ object.general_admission }}</td></tr>
          <tr><td><strong>Price:</strong></td><td>{{ object.price|floatformat:2 }} $</td></tr>
          <tr><td><strong>Seat Groups:</strong></td><td> {{ seat_groups }}</td></tr>
          <tr><td><strong>Nbr of Seat:</strong></td><td>{{ total_nbr_seat }}</td></tr>
          <tr><td><strong>Value:</strong></td><td>{{ total_revenue|floatformat:2 }} $</td></tr>
      </table>      
  </fieldset>
{%if object.mutable%}
  <a href="{% url banian.views.edit_class key=object.key%}"><img src="{{ MEDIA_URL }}global/button_edit.gif" alt="Edit" ></a>
  <a href="{% url banian.views.delete_class key=object.key %}"><img src="{{ MEDIA_URL }}global/button_delete.gif" alt="Delete" ></a>
 {%endif%}  
  <a href="{% url banian.views.show_event key=object.event.key %}"><img src="{{ MEDIA_URL }}global/button_back.gif" alt="Back" ></a>
</fieldset> 
{% endblock %}

