{% extends 'contentbase.html' %}
{% block title %}Confirm Representation Publication{% endblock %}
{% block extra-head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
<script type="text/javascript">
<!--

function transfer() {
	window.location = "{%url banian.views.redirect_url%}?redirect={{redirect}}";
}


$(document).ready( function() {
	setTimeout("transfer();",1500);
});
 //-->
  </script>
{% endblock %}

{% block content-leftpane %}
<img src="{{ MEDIA_URL }}global/transfering.gif" alt="transfering" >
<h2>Now transfering to Paypal...</h2>
If you are not transfered automatically click <a href="{{redirect}}">here</a>.
{% endblock %}
