{% extends "contentbase.html" %}
{%load istatus %}
{% block title %}transaction List{% endblock %}
{% block content-leftpane %}
<h2>My Transactions</h2>
 {% if is_paginated %}
<div style="margin-top:10px;">
 {% if has_previous %}
<a href="?page={{ previous }}"><img src="{{MEDIA_URL}}global/sexybuttons/images/icons/silk/resultset_previous.png" alt="Previous" /></a>
 {% else %}
<img src="{{MEDIA_URL}}global/sexybuttons/images/icons/silk/resultset_previous.png" alt="Previous" />
 {% endif %}
{{ page }} of {{ pages}}
{% if has_next %}
<a href="?page={{ next }}"><img src="{{MEDIA_URL}}global/sexybuttons/images/icons/silk/resultset_next.png" alt="Next" /></a>
 {% else %}
<img src="{{MEDIA_URL}}global/sexybuttons/images/icons/silk/resultset_next.png" alt="Next" />
 {% endif %}
</div>
 {% endif %}

	<table class="list">
     <thead>
	  <tr><th>Transaction</th><th>Date</th><th>Event</th><th>Tickets</th><th>Amount</th></tr>
     </thead>
     <tbody>
	  {% for transaction in transaction_list %}
       <tr class="{% cycle 'odd' 'even' %}">
        <td class="row">{{transaction.type}}</td>
        <td class="row"><a href="{% url banian.views.show_transaction key=transaction.key %}">{{transaction.date|date:"M jS Y G:i:s"}}</a></td>
        <td class="row">{{transaction.event_name}} <br>{{transaction.venue_name}}, {{transaction.representation_date|date:"M jS Y G:i"}}</td>
        <td class="row">{%ifequal transaction.status "Processing"%}{{transaction.status}}{%else%}{{transaction.nbr_tickets}}{%endifequal%}</td>
        <td class="row">{{transaction.total_amount|amountformat:transaction.country}}</td>
	   </tr>
	  {% empty %}
       <tr><td colspan="5"><i>No transactions on records</i></td></tr> 
      {% endfor %}
     </tbody>
    </table>
 
 {% if is_paginated %}
<div style="margin-top:10px;">
 {% if has_previous %}
<a href="?page={{ previous }}"><img src="{{MEDIA_URL}}global/sexybuttons/images/icons/silk/resultset_previous.png" alt="Previous" /></a>
 {% else %}
<img src="{{MEDIA_URL}}global/sexybuttons/images/icons/silk/resultset_previous.png" alt="Previous" />
 {% endif %}
{{ page }} of {{ pages}}
{% if has_next %}
<a href="?page={{ next }}"><img src="{{MEDIA_URL}}global/sexybuttons/images/icons/silk/resultset_next.png" alt="Next" /></a>
 {% else %}
<img src="{{MEDIA_URL}}global/sexybuttons/images/icons/silk/resultset_next.png" alt="Next" />
 {% endif %}
</div>
 {% endif %}

{% endblock %}