{% extends "contentbase.html" %}
{% block title %}My Ticket List{% endblock %}
{% block content-leftpane %}
    <h2>{{venue.name}}My Tickets</h2>
    {% if is_paginated %}
 <ul id="pagination-digg-top">
 {% if has_previous %}
 <li class="previous"><a href="?page={{ previous }}">&lt;&lt; Previous</a></li>
 {% else %}
 <li class="previous-off">&lt;&lt; Previous</li>
 {% endif %}
<li class="active">{{ page }} of {{ pages}}</li>
{% if has_next %}
 <li class="next"><a href="?page={{ next }}">Next &gt;&gt;</a></li>
 {% else %}
 <li class="next-off">Next &gt;&gt;</li>
 {% endif %}
 </ul><br>
 {% endif %}
	<table class="list">
     <thead>
      <tr><th></th><th>Event</th><th>Venue</th><th>Date</th><th>Nbr Tickets</th></tr>
     </thead>
     <tbody>
	  {% for event in event_list %}                    
       <tr class="{% cycle 'odd' 'even' %}">
        <td class="row"><a href="{% url banian.views.show_user_event key=event.key %}">{% if event.thumbnail_image %}<img src="{% url banian.views.image key=event.thumbnail_image.key %}?medium=" alt="{{event.name}}" >{%else%}<img src="{{ MEDIA_URL }}global/BlueMonster100px.jpg"alt="{{event.name}}">{%endif%}</a></td>
        <td class="row"><a href="{% url banian.views.show_user_event key=event.key %}">{{event.name}}</a></td>
        <td class="row">{{event.venue_name}}</td>
        <td class="row">{{event.representation_date|date:"M jS Y G:i"}}</td>
        <td class="row">{{event.nbr_tickets}}</td>
       </tr>
      {% empty %}
       <tr><td colspan="5"><i>No tickets on records</i></td></tr> 
      {% endfor %}
     </tbody>
    </table>
 
 {% if is_paginated %}
 <ul id="pagination-digg-bottom">
 {% if has_previous %}
 <li class="previous"><a href="?page={{ previous }}">&lt;&lt; Previous</a></li>
 {% else %}
 <li class="previous-off">&lt;&lt; Previous</li>
 {% endif %}
<li class="active">{{ page }} of {{ pages}}</li>
{% if has_next %}
 <li class="next"><a href="?page={{ next }}">Next &gt;&gt;</a></li>
 {% else %}
 <li class="next-off">Next &gt;&gt;</li>
 {% endif %}
 </ul>
 {% endif %}
 {% endblock %}