{% extends "contentbase.html" %}
{% block title %}Venue Detail{% endblock %}
{% block content-leftpane %}
   <fieldset><legend class="title">{{ object.name }}</legend>
   <div style="text-align:right">
    <a href="{% url banian.views.events %}?venue={{ object.key }}"><img src="{{ MEDIA_URL }}global/button_events.gif" alt="Events" ></a>
   </div>
   <table><tr>{% if object.poster %}<td><img src="{% url banian.venue.views.venue_poster %}?venue={{ object.key }}"></td>{% endif %}<td>
   <fieldset><legend>Venue Details</legend>
      <table>
          <tr><td><strong>Name:</strong></td><td>{{ object.name }}</td></tr>
          <tr><td><strong>Description:</strong></td><td>{{ object.description }}</td></tr>
          <tr><td><strong>Web Site:</strong></td><td><a href="{{ object.web_site }}">{{ object.web_site }}</a></td></tr>
          <tr><td><strong>Address:</strong></td><td>{{ object.address }}</td></tr>
          <tr><td><strong>Timezone:</strong></td><td>{{timezone}}</td></tr>
      </table>      
  </fieldset>
 </td></tr></table>
<fieldset><legend>Seat Configs</legend>  
<a href="{% url banian.venue.views.add_seat_config %}?venue={{ object.key }}"><img src="{{ MEDIA_URL }}global/button_add.gif" alt="Add" ></a>

  <table class="list">
    <thead>
        <tr>
            <th>Seat Configuration Name</th><th>Description</th><th>Nbr of Seats</th>
        </tr>
    </thead>
    <tbody>
        {% if seatconfiguration_set %}
            {% for seat_config in seatconfiguration_set %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class="row"><a href="{% url banian.venue.views.show_seat_config key=seat_config.key %}">{{seat_config.name }}</a></td>
                    <td class="row">{{seat_config.description}}</td>
                    <td class="row">{{seat_config.nbr_seat}}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="3"><i>Click add to create an event</i></td></tr>
        {% endif %}
    </tbody>     
  </table>
</fieldset>
  
  
{%if object.mutable%} 
  <a href="{% url banian.venue.views.edit_venue key=object.key%}"><img src="{{ MEDIA_URL }}global/button_edit.gif" alt="Edit" ></a>
  <a href="{% url banian.venue.views.delete_venue key=object.key %}"><img src="{{ MEDIA_URL }}global/button_delete.gif" alt="Delete" ></a>
{%endif%}  
  <a href="{% url banian.venue.views.venues %}"><img src="{{ MEDIA_URL }}global/button_back.gif" alt="Back" ></a>
</fieldset> 
{% endblock %}

